services:
  db:
    image: postgres:18
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  api:
    build: 
      context: "./api src"
    container_name: api_server
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "3001:3001"
  frontend:
    build: 
      context: "./frontend src"
    container_name: frontend_app
    ports:
      - "5173:5173"
    depends_on:
      - api
volumes:
  pgdata: