.allmovies-container{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 5vh;
}
.movie-title{
    font-size: 1rem;
    margin-top: 0.5rem;
    overflow: hidden;
    word-wrap: break-all;
}
.allmovies-container .movie-card{
    background-color: transparent;
}
.allmovies-container .movie-info{
    
    display: block;
    
}
.allmovies-container .movie-card{

    max-width: max-content;
}
@media (max-width: 1600px){
    .allmovies-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .allmovies-container .movie-image{
        max-width: 100%;
        max-height: auto;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }
    .allmovies-container .movie-info{
    display:none;
}
}
@media (max-width: 1028px){
    .allmovies-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .allmovies-container .movie-image{
        max-width: 100%;
        max-height: auto;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }
    .allmovies-container .movie-info{
    display:none;
}
.allmovies-container .movie-card{
    height: auto;
}
}
@media (max-width: 800px){
    .allmovies-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .allmovies-container .movie-image{
        
        max-height: auto;
        aspect-ratio: 1 / 1;
        
    }
    
    .allmovies-container .movie-info{
    display:none;
}
}

#sivunappiPrev {
    margin-top: 5px;
    margin-right: 5px;
    padding: 10px 16px;
    background-color: #2b2b2c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

#sivunappiPrev:hover {
  background-color: #1f1f20;
}

#sivunappi {
    margin-top: 5px;
    margin-right: 5px;
    padding: 10px 16px;
    background-color: #2b2b2c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

#sivunappi:hover {
  background-color: #1f1f20;
}

.wrappernappi {
    display: flex;
    justify-content: center;
}

