.favourite-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.favourite-btn:hover {
  background: none;
  border: none;
}

#FaHeart {
    color: brown;
    font-size: 24px;
}

#FaHeart:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

#FaRegHeart {
    color: brown;
    font-size: 24px;
}

#FaRegHeart:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}