.group-detail-wrapper {
  padding: 20px;
}

.group-actions {
  margin: 20px 0;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.group-section-header {
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.group-list-item-detail {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
}

.group-list-item-detail button {
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.group-error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

.group-right-side {
  width: 100%;
  width: 200px;
  padding: 1rem;
  background: none;
}

.addedTitles {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  min-height: 200px;
}

.addedTitles .movie-card {
  flex: 0 1 300px;    
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.addedTitles .movie-card img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #eee;
}

.addedTitles .remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  color: #fff;
  border: none;
  
}
