.group-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.group-list-item {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 8px;
}

.group-list-item:hover {
  background-color: #f4f4f4;
}

.group-list-header button {
  padding: 10px 15px;
  background-color: #2c2b2b;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}