.loginform
{
    border-radius: 5px;
    background-color:  white;
    border: #9b9ba3 solid;
    border-width: 2px;
    width: 300px;
    height: 360px;
    text-align: center;
    position: absolute; right: 0px;
    z-index: 2;
    margin-right: 2rem;
    
}


.registerform 
{
    border-radius: 5px;
    background-color:  white;
    border: #9b9ba3 solid;
    border-width: 2px;
    width: 300px;
    height: 400px;
    text-align: center;
    position: fixed; right: 0px;
    z-index: 1;
}

.formContainer
{
    justify-content: center;
    margin: 1ch;
}

#no-user
{
    color: #9b9ba3;
}
#signup
{
    color: #2b2b2c;
    font-weight: bold;
}
#logout-confirm
{
    color: white;
}

#field
{
    border: #9b9ba3 solid;
    border-radius: 5px;
    border-width: 1px;
    height: 3ch;
}
#field:focus
{
    transition: .1s ease-in-out;
    box-shadow: 3px 0px 10px #babad8; 
    border: #2b2b2c solid;
    border-radius: 5px;
    border-width: 2px;
    height: 3ch;
}
.loginBtns
{
    display: flex;
    flex-direction: row;
    gap: 1ch;
    margin: auto;
    align-content: center;
    justify-content: center;
    
}
.settingBtns
{
    display: flex;
    flex-direction: column;
    gap: 3ch;
    margin: auto;
    align-content: center;
    justify-content: center;
}
#fieldText
{
    font-weight: bold;
}
#hiddenfield
{
    filter: blur(2px);
    font-weight: bold;
}
#hiddenfield:hover
{
    transition: .1s ease-in-out;
    filter: blur(0px);
    font-weight: bold;
    cursor: default;
}
#singleButton
{
    background-color: #2b2b2c;
    border-radius: 5px;
    color: white;
    border-width: 1px;
    width: 30ch;
    height: 4ch;
    margin: auto;
    align-content: center;
    justify-content: center;
}

#singleButton:hover
{
    transition: .1s ease-in-out;
    box-shadow: 3px 0 3px black; 
}
#no-user:hover, #singup:hover
{
    font-weight: bolder;
    cursor: pointer;
}
.fade-out-exit {
  opacity: 100%;
}

.fade-out-exit-active {
  opacity: 0%;
  transition: opacity 800ms;
}