.profile-movie{
    height: 5rem;
}
ul, li{
    list-style-type: none;
}
.profilecontainer
{
    background-color: rgb(227, 247, 227);
    display: grid;
    grid-template-columns: auto auto;
}
.infosplit
{
    display: grid;
    grid-template-columns: auto auto;
}
.baseinfo
{
    margin: auto;
    border-radius: 5px;
    background-color:  white;
    border: #9b9ba3 solid;
    border-width: 1px;
    width: 400px;
    height: 500px;
    
    text-align: center;
    z-index: 2;
}
@media (max-width: 770px){
    .profilecontainer{
        background-color: black;
    }
    
}