.titleinfo-container {
    display: flex;
    gap: 1vh;
    padding: 2rem;
    align-items: flex-start;
}

.titleinfo-left {
    flex: 1;
    max-width: 60%;
    margin-left: 20vh;
}

.titleinfo-right img {
    max-width: 300px;
    border-radius: 8px;
}

.icons-row {
    display: flex;
    align-items: center;
    gap: 1rem;  
    margin-top: 3rem;
}

.review {
    margin-top: 2rem;
}

.addreview-btn {
    background-color: #2c2b2b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    transition: background-color 0.2s ease;
}

.addreview-btn:hover {
    background-color: #1f1f20;;
}

.review-item
{
    gap: 1ch;
    align-items: center;
    width: 500px;
    height: 160px;
    display: grid;
    grid-template-columns: 150px 100px auto;
    border-radius: 5px;
    background-color:  white;
    border: #9b9ba3 solid;
    border-width: 1px;
    text-align: center;
    box-shadow: 0 0 4px;
}
.userinfoimage
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}
.userinfotext
{
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
#usericon
{
 vertical-align: middle;
  align-items: center;
  padding: 10px;
}
.commentcontainer
{
    width: 200px;
    overflow-wrap: break-word;     
}
.comment
{
text-align: left;

}

.popup {
    margin-top: 1rem;
    border-color: #2c2b2b;
    outline-color: #2b2b2c;
    border-radius: 4px;
    
}



.description {
    display: flex;
    word-wrap: break-word;
    max-width: 600px;
}