.titleinfo-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    align-items: flex-start;
}

.titleinfo-left {
    flex: 1;
    max-width: 60%;
}

.titleinfo-right img {
    max-width: 300px;
    border-radius: 8px;
}

.icons-row {
    display: flex;
    align-items: center;
    gap: 1rem;  
    margin-top: 3rem;
}

.review {
    margin-top: 1rem;
}

.addreview-btn {
    background-color: #2c2b2b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
}