.allmovies-container{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; /* spacing between cards */
  padding: 1rem;
}
.allmovies-container .movie-card{
    background-color: transparent;
}
.allmovies-container .movie-info{
    display: none;
}
.allmovies-container .movie-card{

    
}
@media (max-width: 1028px){
    .allmovies-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px){
    .allmovies-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 570px){
    .allmovies-container .movie-image{
        max-width: 100%;
        max-height: auto;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }
    
}
