
.navbar {
    background-color: #2c2b2b;
    padding: 1rem 2rem;
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 3em;

}


.navbar-links {
    color: aliceblue;
    
    display: flex;
    gap: 1rem;
}

.nav-link {
    font-size: 1rem;
    padding: 10px 1px;
    border-radius: 4px;
    transition: background-color 0.2s;
    text-decoration: none;
    color: aliceblue;
}

.navbar button {
    padding: 10px 15px;
    background-color: rgb(27, 27, 28);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;

    cursor: pointer;
    
}

button:hover, .nav-link:hover {
    background-color: #201f1f6d;
    transition: background-color 0.2s;
    color: rgb(126, 125, 125);
}

.navbar-actions {
    display: flex;
    gap: 1rem; 
}
.search-bar-container {
  
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

#welcome-user-text
{
    margin: 2ch;
    color: rgb(255, 255, 255);
}
