
.navbar {
    background-color: #2c2b2b;
    padding: 1rem 2rem;
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 3em;

}


.navbar-links {
    color: aliceblue;
    
    display: flex;
    gap: 1rem;
}

.nav-link {
    font-size: 1rem;
    padding: 10px 1px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.navbar button {
    padding: 10px 15px;
    background-color: rgb(27, 27, 28);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;

    cursor: pointer;
    
}

button:hover, .nav-link:hover {
    background-color: #201f1f6d;
    transition: background-color 0.2s;
    color: rgb(126, 125, 125);
}

.navbar-actions {
    display: flex;
    gap: 1rem; 
}
.search-bar-container {
  
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

#welcome-user-text
{
    margin: 2ch;
    color: rgb(255, 255, 255);
}
/*.navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 10px;
}

.navlink {
    color: #000000;
    padding: 5px 10px;
    text-align: center;
    background-color: rgb(220, 220, 232);
    text-decoration: none;
    
    
}
.navlinks {
    display: flex;
    gap: 1px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    
    
}


.searchbar {
    flex: 0 0 35%;
   
    display: flex;
    margin-left: 4px;
    justify-content: flex-end;

.button-container {
    
    display: flex;
    justify-content: flex-end;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
}

.navbar button {
    padding: 10px 20px;
    background-color: rgb(193, 193, 196);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
button:hover, .navlink:hover {
    background-color: #ffffff;
    color: black;
}*/

/*piilota navigointi palkki ja näytä dropdown nappi*/
/*@media(max-width: 600px)
 {
    .navlinks{
        display: none;
    }
    
}
@media (min-width: 601px) 
{
    .hiddenbar{
        display: none;
    }
    
}*/