.carousel-wrapper {
    background-color: bisque;
    anchor-name: --carousel;
    position: relative; /* important */
    margin: 2em;
}
.carousel{
    width: 85%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    
}
.carousel::-webkit-scrollbar{
    display: none;
}
.carousel-wrapper::scroll-button(right), .carousel-wrapper::scroll-button(left){
    content: '→';
    border: none;
    background-color: rgb(39, 39, 39);
    font-family: Consolas;
    font-size: 3rem;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: absolute;
    position-anchor: --carousel;
    position-area: right center;
    translate: -50%;
}
.carousel-wrapper::scroll-button(left){
    content: '←';
    position-area: left center;
    translate: 50%;
}
.carousel-wrapper::scroll-button(right):disabled,.carousel-wrapper::scroll-button(left):disabled{
    opacity: 0.5;
    cursor: auto;
}
