.movie-card {
    position: relative;
    background-color: rgb(199, 61, 61);

    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex: 0 0 30em;
    height: 30em;
    
    
}
.movie-card:hover{
    opacity: ;
}
.movie-poster{
    background-color: aqua;
}
.movie-info{
    background-color: aquamarine;
    padding: 1em;
    width: 100%;
}
.movie-image{
    height: 100%;
    border-radius: 8px;
    
}
